<section class="choice">
  <div class="choice__container container">
    <h2 class="choice__title">Выберите нужный пакет</h2>
    <ul class="list-reset choice__list flex">
      <li class="choice__item choice__item--active ">
        <h3 class="choice__tarif">&mdash;&nbsp;PRO &mdash;</h3>
        <span class="choice__sale">20.000&nbsp;₽</span>
        <p class="choice__descr">УМК по&nbsp;робототетхнике и&nbsp;программированию</p>
        <button class="choice__btn btn-reset">Оставить заявку</button>
      </li>
      <li class="choice__item">
        <h3 class="choice__tarif">&mdash;&nbsp;ROBO &mdash;</h3>
        <span class="choice__sale">15.000&nbsp;₽</span>
        <p class="choice__descr">УМК по&nbsp;робототетхнике</p>
        <button class="choice__btn btn-reset">Оставить заявку</button>
      </li>
      <li class="choice__item">
        <h3 class="choice__tarif">&mdash;&nbsp;PROG &mdash;</h3>
        <span class="choice__sale">10.000&nbsp;₽</span>
        <p class="choice__descr">УМК по&nbsp;программированию</p>
        <button class="choice__btn btn-reset">Оставить заявку</button>
      </li>
    </ul>
  </div>
</section>
