<section class="close">
  <div class="close__container container">
    <h2 class="close__title">Что вы&nbsp;получите после курса</h2>

    <ul class="list-reset close-list flex">
      <li class="close-list__item">
        <p class="close-list__subtitle">Удостоверение</p>
        <p class="close-list__descr">Дающее право преподавать робототехнику для детей 6-12 лет в&nbsp;образовательных учреждениях</p>
      </li>
      <li class="close-list__item">
        <p class="close-list__subtitle">Знания</p>
        <p class="close-list__descr">По&nbsp;основам разработки учебно-методических комплексов по&nbsp;робототехнике и&nbsp;программированию</p>
      </li>
      <li class="close-list__item">
        <p class="close-list__subtitle">Практику
          <span class="tooltip">
            <button class="btn-reset tooltip-btn"></button>
            <span class="tooltip-descr">При наличии свободных мест</span>
          </span>
        </p>
        <p class="close-list__descr">Возможность пройти практику по&nbsp;преподаванию робототехники на&nbsp;базе R:ED LAB (в&nbsp;оффлайн или онлайн формате)</p>
      </li>
    </ul>
  </div>
</section>
