<header class="header">
  <div class="header__container container flex-v-center">
    <a class="header__logo" href="#" >
      <img class="header__image" src="img/logo.svg" alt="Site logo" >
    </a>
    <nav class="header__nav" title="" data-menu>
      <ul class="list-reset header__list flex-v-center">
        <li class="header__item"><a class="header__link" href="#">О школе</a></li>
        <li class="header__item"><a class="header__link" href="#">Тренеры</a></li>
        <li class="header__item"><a class="header__link" href="#">Стоимость</a></li>
      </ul>
    </nav>

    <a class="header__number" href="tel:+78000001122">+7&nbsp;800&nbsp;000 11&nbsp;22</a>

    <div class="header-mobile">
      <a class="header-mobile__link" href="tel:+78000001122">
        <img class="header-mobile__link-image" src="img/header-phone.svg" alt="">
      </a>

      <button class="btn-reset burger header-mobile__burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
        <span class="burger__line"></span>
      </button>
    </div>
  </div>
</header>
