<header class="header">
  <div class="header__container header__container-desktop container flex-v-center">
    <a class="header__logo" href="#" >
      <img class="header__image" src="img/logo.svg" alt="Site logo" >
    </a>
    <nav class="header__nav-desktop" title="">
      <ul class="list-reset header__list header__list-desktop flex-v-center">
        <li class="header__item header__item-desktop"><a class="header__link" href="#">О школе</a></li>
        <li class="header__item header__item-desktop"><a class="header__link" href="#">Тренеры</a></li>
        <li class="header__item header__item-desktop"><a class="header__link" href="#">Стоимость</a></li>
      </ul>
    </nav>

    <a class="header__number header__number-desktop" href="tel:+78000001122">+7&nbsp;800&nbsp;000 11&nbsp;22</a>
  </div>

  <div class="header__container header__container-mobile container flex-v-center"></div>
    <a class="header__logo" href="#" >
      <img class="header__image" src="img/logo.svg" alt="Site logo" >
    </a>

    <nav class="header__nav header__nav-mobile" title="">
      <ul class="list-reset header__list header__list-mobile flex">
        <li class="header__item header__item-mobile"><a class="header__link" href="#">О школе</a></li>
        <li class="header__item header__item-mobile"><a class="header__link" href="#">Тренеры</a></li>
        <li class="header__item header__item-mobile"><a class="header__link" href="#">Стоимость</a></li>
      </ul>
    </nav>

    <a class="header__number header__number-mobile" href="tel:+78000001122">
      <img class="header__img header__img-mobile" src="img/number.svg" alt="">
    </a>

    <a class="header__list-mobile" href="#" ></a>
      <img class="header__image" src="img/list.svg" alt="Site logo" >
    </a>
  </div>
</header>
