<section class="info">
  <div class="info__container container">

    <p class="info__descr"><b>Robo School</b>&nbsp;&mdash; учреждение для формирования кадрового педагогического резерва в&nbsp;сфере робототехники и&nbsp;программирования</p>

    <ul class="list-reset info-list flex">
      <li class="info-list__item">
        <span class="info-list__num">10</span>
        <p class="info-list__descr">УМК по&nbsp;различным направлениям по&nbsp;робототехнике</p>
      </li>

      <li class="info-list__item">
        <span class="info-list__num">20</span>
        <p class="info-list__descr">Школ, в&nbsp;которых запущена робототехника</p>
      </li>

      <li class="info-list__item">
        <span class="info-list__num">100</span>
        <p class="info-list__descr">Педагогов прошедших курсы повышения квалификации</p>
      </li>

      <li class="info-list__item">
        <span class="info-list__num">10&nbsp;000</span>
        <p class="info-list__descr">Обученных детей на&nbsp;базе собственных центров</p>
      </li>
    </ul>
  </div>
</section>
