<section class="trainer">
  <div class="trainer__container container">
    <h2 class="trainer__title">Профессиональные тренеры</h2>
    <div class="trainer__swiper swiper">
      <div class="swiper-wrapper flex">
        <div class="swiper-slide">
          <img class="swiper-slide__photo" src="img/slide1-image.png" alt="">
          <p class="swiper-slide__name">Ирина Лайм</p>
          <p class="swiper-slide__descr">преподаватель по&nbsp;робототехнике</p>
          <a class="swiper-slide__about" href="">Подробнее</a>
        </div>
        <div class="swiper-slide">
          <img class="swiper-slide__photo" src="img/slide2-image.png" alt="">
          <p class="swiper-slide__name">Марина Орлова</p>
          <p class="swiper-slide__descr">преподаватель по&nbsp;робототехнике</p>
          <a class="swiper-slide__about" href="">Подробнее</a>
        </div>
        <div class="swiper-slide">
          <img class="swiper-slide__photo" src="img/slide3-image.png" alt="">
          <p class="swiper-slide__name">Максим Петров</p>
          <p class="swiper-slide__descr">преподаватель по&nbsp;программированию</p>
          <a class="swiper-slide__about" href="">Подробнее</a>
        </div>
        <div class="swiper-slide">
          <img class="swiper-slide__photo" src="img/slide4-image.png" alt="">
          <p class="swiper-slide__name">Константин Назаров</p>
          <p class="swiper-slide__descr">преподаватель по&nbsp;робототехнике</p>
          <a class="swiper-slide__about" href="">Подробнее</a>
        </div>
        <div class="swiper-slide">
          <img class="swiper-slide__photo" src="img/slide5-image.png" alt="">
          <p class="swiper-slide__name">Лиза Весенняя</p>
          <p class="swiper-slide__descr">преподаватель по&nbsp;программированию</p>
          <a class="swiper-slide__about" href="">Подробнее</a>
        </div>
      </div>

      <div class="trainer__navigation">
        <button class="swiper-button-prev btn-reset"></button>
        <button class="swiper-button-next btn-reset"></button>
      </div>

      <div class="swiper-scrollbar trainer__scrollbar"></div>
    </div>
  </div>
</section>
